@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #696969;
}
nav {
    background-color: #696969;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    padding: -30px;
}

nav .logo img {
    
    height: 80px;
   
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: #f17908;
    text-decoration: underline;
    transition: .5s;    
}

h2 {
    color: #fff;
    margin-left: -350px;
    
}

.conteiner p {
    color: gray;
    padding-top: 20px;
    margin-left: 30px;
    
    
}
.conteiner {
    background-color: rgb(51, 58, 58);
    height: 586px;
}

.conteiner img {
    height: 586px;
    float: right;
    
}

.conteiner h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    }

h4 {
    color: #fff;
    font-size: 1.2em;
    padding-top: 150px;
    text-align: left;
    margin-left: 30px;
}

.conteiner button {
    background-color: rgb(27, 27, 26);
    color: #fff;
    font-size: 1em;
    padding: 17px;
    border: solid 2px #f17908;
    margin-left: 150px;
    margin-top: 50px;
    cursor: pointer;
}

.conteiner button:hover {
    background-color: #f17908;
    
}

.sobre-nos {
    background-color: #696969;
    color: #fff;
    display: inline-block;
    height: 600px;
}

.sobre-nos h1 {
    font-size: 1.4em;
    margin: 200px;
}

.service {
    background-color: black;
    height: 800px; ;
}

.foto1 img{
    height: 700px;
    float: right;
    margin-top: 30px;
    
}