@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(92, 88, 88);
}

nav > img {
    height: 100px;
    cursor: pointer;
}

nav > li > a {
    color: #fff;
    text-decoration: none;
    
}

